:host {
  height: 100%;
  width: 100%;
}

.game-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(8, calc(100vh / 8));
}

.cols {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(8, calc(100vw / 8));
}

.row:nth-child(even) {
  background: lightblue;
  .cell:nth-child(odd) {
    background: lightcoral;
  }
}
.row:nth-child(odd) {
  background: lightcoral;
  .cell:nth-child(odd) {
    background: lightblue;
  }
}

@mixin robot {
  position: fixed;
  z-index: 1;
  transition: top 0.5s linear;
  top: 200px;
  width: 50px;
  height: 50px;
}
.robot-1 {
  @include robot;
  left: 40px;
}
.robot-2 {
  @include robot;
  right: 40px;
}

@mixin shot {
  position: fixed;
  z-index: 2;
  width: 40px;
  height: 40px;
}
.shot-1 {
  @include shot;
}
.shot-1.fire {
  transition: left 3s ease-in;
}
.shot-2 {
  @include shot;
}
.shot-2.fire {
  transition: right 3s ease-in;
}
